<div class="service-box" data-id="{{id}}">
  <div class="service-inner">
    <span class="vote-icon-container">
      <span class="glyphicon glyphicon-minus order-icon minus" data-id="{{id}}" data-val="-1"></span>
      <span class="glyphicon glyphicon-plus order-icon plus" data-id="{{id}}" data-val="1"></span>
    <span>
    {{#if serviceClass}}
    <span class="type-icon-container">
      <span class="{{serviceClass}}"></span>
    </span>
    {{/if}}
    <h1>{{name}}</h1>
    <div class="body">
      {{#if link}}
      <a href="{{link.url}}">{{link.name}}</a>
      {{/if}}
      {{#if description}}
      <p>
      {{description}}
      </p>
      {{/if}}
    </div>
  </div>
</div>

