.logo h1 {
  font-family: "Dosis", sans-serif;
  text-align: center;
  font-size: 5em;
  margin-bottom: 20px;
}

.logo h1 .green {
  color: #20b24b;
}

.services-container .column {
  background-color: red;
}

.service-inner {
  background-color: rgb(243, 243, 243);
  padding: 5%;
  border-radius: 5px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  .type-icon-container {
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 1.3em;
  }
}

.service-box {
  margin-top: 20px;
  position: relative;
  
  .body a {
    font-size: 1.4em;
    color: #627EA0;

    &:hover {
      color: #253E53;
    }
  }
  
  .body a:hover {
  }

  .glyphicon {
    color: #20b24b;
  }
}
